<a href="https://colab.research.google.com/github/Ganesh-saladi/Python-/blob/main/Untitled38.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input())
if(n>0):
    print("postive")
elif(n<0):
    print("negative")
else:
    print("number is Zero")

50
postive

In [3]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input())
n=n*(n+1)//2
print("sum of n natural numbers:",n)

20
sum of n natural numbers: 210

In [ ]:
a=int(input())
b=int(input())
if(a>b):
  print(a,"is greatest number ")
else:
  print(b,"is greatest number ")

20
10
20 is greatest number

In [ ]:
a=int(input())
b=int(input())
c=int(input())
print ("greatest number is:",max(a,b,c))

5
0
19
greatest number is: 19

In [ ]:
a=int(input())
if (a % 4 == 0 and a % 100 != 0) or (a % 400 == 0):
  print(a,"is leap year")
else:
  print(a,"is not leap year")

2000
2000 is leap year

In [ ]:
n=int(input())
if(n%2==0):
  print(n,"is even number")
else:
  print(n,"is odd number ")

20
20 is even number